#main
	padding 0 0 50px
	overflow hidden
	background-image url(../img/images/main-img-0.png), url(../img/images/main-img-2.png)
	background-repeat no-repeat, no-repeat
	background-position: left -200px top -150px, top 40px right -150px
	text-align: center
.pre
	font-size: 20px
	margin-top: 60px
.main-title
	font-size: 42px
	font-family: CB
	line-height: 40px
	margin 10px 0 30px
	text-transform: uppercase
.main-info
	font-size: 18px
	margin 10px 0
	span
		display inline-block
		font-size: 22px
		font-family: CB
	&:last-of-type
		margin 10px 0 50px