#get
	padding: 50px 0 10px
.get-item
	padding 260px 20px 20px
	border-radius: 15px;
	width: 100%;
	max-width: 360px;
	margin: 0 auto 40px;
	box-shadow: 0 4px 10px 3px rgba(2, 2, 2, .38)
	background-repeat: no-repeat;
	background-position: top center;
	background-size: auto 242px;
	text-align: center
	line-height: 26px
	min-height: 436px;
	&-1
		background-image url("../img/images/reason-img-4.png")
	&-2
		background-image url("../img/images/reason-img-5.png")
	&-3
		background-image url("../img/images/get-item-img-3.png")
	&-4
		background-image url("../img/images/get-item-img-4.png")
	&-5
		background-image url("../img/images/reason-img-2.png")
	&-6
		background-image url("../img/images/get-item-img-6.png")
	&-7
		background-image url("../img/images/get-item-img-7.png")