footer
	padding 20px 0
	background-color: rgba(5, 5, 5, 0.1);
	overflow hidden
	text-align: center
	font-size: 14px
	h5
		font-size: 18px
		margin-top: 10px
		font-family: OSB
.contacts-footer
	text-align: center
.copyright
	margin-top: 10px
.conditions
	text-decoration underline
	&:hover
	&:focus
		text-decoration none
	&:hover
		color: #000
.soc-buttons
	width 100%
	margin: 0 auto
	a
		display: inline-block
		margin: 15px 8px
		position relative
		z-index: 1
		.fa
			width: 30px;
			height: 30px;
			background-color #4564d3
			color #242933
			line-height 30px
			border-radius: 3px
			&:hover
				opacity .8