-var head_url = 'https://roleva-yurina.mastervision.su/transpersonal-analytics-2/course/';
-var head_title = '«Трансперсональная аналитика»';
-var head_description = 'Обучающий курс Анны Ролевой и Вероники Юриной';
-var oferta = '../oferta/oferta.doc';
-var styles = '../css/course.min.css';
-var fav_ico = '../favicon.ico';
-var fav_png = '../favicon.png';

mixin gt(cl,h3)
	h3.general-title(class=cl)=h3
mixin b(cl,href,target,p,id)
	a.button(class=cl href=href target=target id=id)=p

<!DOCTYPE html>
html(lang="ru")
	head
		include pug/head
		include pug/scripts/head_scripts
	body
		include pug/scripts/body_top_scripts
		include pug/course/1.main.pug
		include pug/course/2.for.pug
		include pug/course/3.targets.pug
		include pug/course/4.plan.pug
		include pug/course/5.get.pug
		include pug/course/6.prices.pug
		include pug/course/7.authors.pug
		include pug/course/8.revs.pug
		include pug/course/9.last.pug
		include pug/course/10.footer.pug
		include pug/course/11.scripts.pug
		//- include pug/scripts/chat
		include pug/scripts/body_bottom_scripts