-var head_url = 'https://roleva-yurina.mastervision.su/transpersonal-analytics-2/';
-var head_title = '«Трансперсональный анализ личности»';
-var head_description = 'Профессиональная переподготовка специалистов со средне-специальным и высшим образованием по направлению';
//- -var head_img = 'img/banner.jpg';
-var styles = 'css/styles.min.css';
-var fav_ico = 'favicon.ico';
-var fav_png = 'favicon.png';

<!DOCTYPE html>
html(lang="ru")
	head
		include pug/head
		include pug/scripts/head_scripts
	body
		include pug/scripts/body_top_scripts
		include pug/scripts
		//- include pug/scripts/chat
		include pug/scripts/body_bottom_scripts