section#about
	.container
		+gt('','Трансперсональный аналитик — это профессия будущего!')
		.row
			.col-md-5.col-sm-5
				ul.about-list
					li - Вы станете экспертом по раскрытию человеческого потенциала в трёх основных сферах жизни: предназначение, отношения и финансы
					li - Ключевое отличие от психологов прошлого века — это применение инновационных методик и инструментов, основанных на самых эффективных компонентах западной психологии и восточных духовных практик
			.col-md-7.col-sm-7
				.about-images
					img.about-image.about-image-2(src="img/images/about-img-2.png", alt="Изображение блока 2")
					img.about-image.about-image-1(src="img/images/about-img-1.png", alt="Изображение блока 1")
		.about-items
			.row
				.col-md-4
					.about-item.about-item-1
						h4.about-item-title До 10 раз быстрее
						p.about-item-text Вы будете решать проблемы людей намного быстрее, чем классические психологи или мастера духовных практик
				.col-md-4
					.about-item.about-item-2
						h4.about-item-title Нет предела
						p.about-item-text Это бесконечное самосовершенствование без духовных и финансовых ограничений - в этой профессии нет «потолка»!
				.col-md-4
					.about-item.about-item-3
						h4.about-item-title 100% реализация потенциала
						p.about-item-text Трансперсональный анализ позволяет точно описать личность, её потенциал и составить эффективный план действий