mixin res(cl,h4,p)
	.col-md-4.col-sm-4
		.reason(class=cl)
			h4.reason-title=h4
			p.reason-text=p

section#reasons
	.container
		.row
			+res('reason-1','Всего 9 месяцев обучения вместо 3-5 лет','Вы будете изучать и практиковать только самые важные навыки, методы и технологии без лишней «воды». И это позволит вам овладеть мастерством нового поколения за меньшее время, но «работать» с большей эффективностью')
			+res('reason-2','Официальный диплом зарегистрированный в едином реестре дипломов РФ','Вы получаете официальный документ, подтверждающий вашу новую квалификацию, что позволяет вам рекламировать свои услуги и публично заявлять о вашей новой профессии')
			+res('reason-3','Востребованная специальность 2020 года','Вы станете одним из первых специалистов в новом направлении, получите уникальные знания и навыки, что позволит позиционировать себя отдельно от классических психологов и вывести свои доходы на новый уровень')
		.row
			+res('reason-4','Дистанционное обучение из любой точки мира','Это индивидуальное обучение в любое время, которое легко укладывается даже в самый плотный график и экономит 750 часов в год по сравнению с классическим образованием')
			+res('reason-5','Гарантированная окупаемость временных и финансовых вложений','Вы научитесь правильно себя позиционировать, эффективно продвигаться в интернете и выгодно продавать свои услуги — это единственный курс, который сразу даёт вам все знания и навыки для достижения достойного дохода')
			+res('reason-6','Широкая область применения знаний и навыков','Вы сможете реализоваться в любой сфере благодаря уникальным навыкам трансперсонального аналитика — от частных консультаций до работы с корпоративными клиентами в сфере повышения эффективности и подбора сотрудников.')
