section#spheres
	.container
		img(src="img/images/spheres-img.png", alt="Изображение блока феры применения").sphere-img
		+gt('','Сферы применения полученных знаний и навыков')
		.spheres
			.row
				.col-md-4.col-sm-4
					.sphere.sphere-1
						h4.sphere-title Работа над личным самосовершенствованием
						p.sphere-text Анализ собственных переживаний, причинно-следственных связей и выработка успешной стратегии развития
				.col-md-4.col-sm-4
					.sphere.sphere-2
						h4.sphere-title Индивидуальная и групповая терапия
						p.sphere-text Раскрытие человеческого потенциала в трёх основных сферах жизни — предназначение, отношения и финансы
				.col-md-4.col-sm-4
					.sphere.sphere-3
						h4.sphere-title Работа с корпоративными клиентами
						p.sphere-text Повышение эффективности работы руководителей, усиление командного духа и подбор сотрудников