.module.module-8
	.module-images
		img.module-image.module-8-img-2(src="../img/images/module-8-img-2.png", alt="Картинка модуля 8")
		img.module-image.module-image-pic.module-8-img-1(src="../img/images/module-8-img-1.png", alt="Картинка модуля 8")
	.module-info.module-info-8
		h4.module-info-title Тема 8: Монетизация частной практики: практический онлайн-маркетинг для психологов
		ul.module-info-list.module-info-list-8
			li Личный бренд
			li Большая цель и личные смыслы
			li Продающая упаковка
			li Целевая аудитория
			li Составление портрета идеального клиента 
			li Составление цепочки оферов
			li Стратегия двухшаговых продаж: Лид-магнит, Трипваер, Бэк-энд
			li Интенсивы и марафоны
			li Вебинары
			li Продажа пакетов консультаций
			li Мастер-группы и абонементы
			li Контент-план
			li Социальные сети
			li Блог с личной страницы
			li Продвижение личного бренда
		ul.module-info-list.module-info-list-8
			li Сообщество
			li Рассыльщик в группе
			li Автоворонки
			li Рассылки в соц сетях
			li Email-маркетинг
			li Привлечение клиентов: реклама
			li Таргетинг ВК
			li Продвижение в Инстаграм
			li Продажи со сцены
			li Продажи через соц сети
			li Стратегии
			li Запуски
			li Работа с высоким чеком
			li Продажи текстом с подогревом
			li Продажа через автоворонки
	.clearfix