.module.module-3
	.module-images
		img.module-image.module-3-img-2(src="../img/images/module-3-img-2.png", alt="Картинка модуля 3")
		img.module-image.module-image-pic.module-3-img-1(src="../img/images/module-3-img-1.png", alt="Картинка модуля 3")
	.module-info.module-info-3
		h4.module-info-title Тема 3. Модуль по работе с фигурой "Тени"
		ul.module-info-list
			li Понятие "тени" и "дара"
			li Пассивная природа тени и реактивная	природа тени
			li Состояние жертвы
			li Основные принципы перехода из теней в дары
			li Анализ 64 теней
			li Выгул теней
	.clearfix