.module.module-5
	.module-images
		img.module-image.module-5-img-2(src="../img/images/module-5-img-2.png", alt="Картинка модуля 5")
		img.module-image.module-image-pic.module-5-img-1(src="../img/images/module-5-img-1.png", alt="Картинка модуля 5")
	.module-info.module-info-5
		h4.module-info-title Тема 5. Анализ структуры личности: Генные ключи
		ul.module-info-list
			li История возникновения Генных Ключей
			li Структура Хологенетического профиля
			li Анализ последовательности активации
			li Анализ последовательности Венеры
			li Анализ жемчужной последовательности
			li Разбор 64 Генных ключей по частотам теней и даров
	.clearfix