.module.module-7
	.module-images
		img.module-image.module-7-img-2(src="../img/images/module-7-img-2.png", alt="Картинка модуля 7")
		img.module-image.module-image-pic.module-7-img-1(src="../img/images/module-7-img-1.png", alt="Картинка модуля 7")
	.module-info.module-info-7
		h4.module-info-title Тема 7: Психологическое консультирование: общий модуль работы
		ul.module-info-list
			li Понятие и предмет психологического консультирования
			li Раппорт: установление контакта с клиентом
			li Снятие запроса: анализ текущей ситуации, установление причин     неудовлетворенности, формирование намерения на изменение
			li Фиксация и утверждение целей работы
			li Диагностика готовности к изменениям
			li Работа с сопротивлением
			li Вторичные выгоды
			li Копинг
			li Усиление мотивации
			li Изменение стратегий поведения
			li Работа с установками
			li Базовые техники работы: ресурсирование, работа с субличностями, интеграция с тенью
			li Полевые методы работы: расстановки
			li Методики эмоционально-образной терапии
			li Базовые техники саморегуляции
			li Работа с телом и релаксационные методы
			li Технологии работы с травмой
			li Диагностика и преодоление кризисных ситуаций
	.clearfix