.module.module-2
	.module-images
		img.module-image.module-2-img-2(src="../img/images/module-2-img-2.png", alt="Картинка модуля 2")
		img.module-image.module-image-pic.module-2-img-1(src="../img/images/module-2-img-1.png", alt="Картинка модуля 2")
	.module-info.module-info-2
		h4.module-info-title Тема 2. Анализ отношений
		ul.module-info-list
			li Понятие "композит"
			li Взаимоотношения типов
			li Взаимоотношения профилей
			li Шантаж центров
			li Анализ гармонии
			li Электромагниты, точки притяжения
			li Анализ пенты
	.clearfix