.module.module-6
	.module-images
		img.module-image.module-6-img-2(src="../img/images/module-6-img-2.png", alt="Картинка модуля 6")
		img.module-image.module-image-pic.module-6-img-1(src="../img/images/module-6-img-1.png", alt="Картинка модуля 6")
	.module-info.module-info-6
		h4.module-info-title Тема 6: Трансперсональная психология
		ul.module-info-list
			li Введение в трансперсональную психологию
			li Структура личности с позиции Механики Человека и Генных Ключей
			li Структура сознания с точки зрения интегрального метода COSMOS
			li Трансперсональное сознание
			li Исцеление через трансперсональный опыт
			li Тантра: как входить в это состояние и составлять медитации
			li Медитация: подходы и техники
			li Структура транса
			li Способы вхождения в трансовые состояния
			li Наведение транса
			li Подробный разбор на аналитическом уровне 64 сиддхи ГК
			li Сиддхи-медитация: структура погружения
			li 64 сиддхи-медитаций
	.clearfix