#main
	padding 0 0 30px
	overflow hidden
	background-image url(../img/images/main-img-0.png)
	background-repeat no-repeat
	background-position: left -200px top -150px
.main-title
	font-size: 35px
	font-family: CB
	line-height: 40px
	margin 30px 0 5px
	span
		display: inline-block
		font-size: 27px
		text-transform: uppercase
.main-subtitle
	font-size: 25px
	line-height: 35px
	width: 100%;
	max-width: 480px;
.main-date
	font-size: 18px
	margin 10px 0 35px
.button-main
	margin-left: 0
	position relative
	z-index 20
.main-images
	position relative
	z-index -1
.main-image
	position: absolute
	&-1
		display block
		width 100%
		max-width 618px
		border-radius: 17px
		box-shadow: 0 4px 24px 6px rgba(#4564d3,.49)
		margin 0 auto
		top 0
		left 0
		right 0
	&-2
		top -50px
		left -130px
		width 870px
.main-benefits
	position relative
	top -73px
.main-benefit
	padding 20px 10px 20px 90px
	border-radius: 15px;
	box-shadow: 0px 4px 18.06px 2.94px rgba(2, 2, 2, 0.38);
	background-color: rgba(#fff,.7)
	background-repeat no-repeat
	background-position: left 15px top 25px
	min-height 140px
	&-1
		background-image url(../img/icons/main-icon-1.png)
	&-2
		background-image url(../img/icons/main-icon-2.png)
	&-3
		background-image url(../img/icons/main-icon-3.png)
	&-text
		font-family: OS
// .main-abouts
.main-about
	margin-top: -30px
	padding 0 0 0 90px
	background-repeat no-repeat
	background-position: left top
	min-height 150px
	&-1
		background-image url(../img/icons/main-icon-4.png)
	&-2
		background-image url(../img/icons/main-icon-5.png)
	&-3
		background-image url(../img/icons/main-icon-6.png)
	&-title
		font-size: 20px
		font-family: OSB
		margin-bottom: 10px