#reasons
	padding 45px 0 5px
.reason
	border-radius: 15px
	width 100%
	max-width 360px
	margin 0 auto 40px
	box-shadow: 0 4px 10px 3px rgba(2, 2, 2, .38)
	padding 265px 25px 25px
	background-repeat no-repeat
	background-position: top center
	background-size: auto 242px
	min-height 567px
	&-1
		background-image url(../img/images/reason-img-1.png)
	&-2
		background-image url(../img/images/reason-img-2.png)
	&-3
		background-image url(../img/images/reason-img-3.png)
	&-4
		background-image url(../img/images/reason-img-4.png)
	&-5
		background-image url(../img/images/reason-img-5.png)
	&-6
		background-image url(../img/images/reason-img-6.png)
	&-title
		font-size: 20px
		margin-bottom: 5px
		font-family: OSB
		line-height: 30px
	&-text
		line-height: 26px