#modules
	overflow hidden
.module
	margin-bottom: 110px
	&-images
		position relative
	&-image
		position: absolute
		&-pic
			display: block
			width 100%
			max-width 628px
			margin 0 auto
			border-radius: 20px
			box-shadow: 0 4px 18px 6px rgba(#4564d3,.49)
	&-info
		position: relative
		width 100%
		z-index 20
		float left
		padding 70px 45px 60px
		background-color: rgba(#fff,.8)
		border-radius: 15px
		box-shadow: 0 4px 18px 6px rgba(2, 2, 2, .38)
		&-title
			font-family: OSB
			font-size: 25px
			line-height: 35px
			margin-bottom: 30px
		&-list
			li
				list-style none
				// line-height: 26px
				margin-top: 5px
			&-8
				width 50%
				float left
.module-1-img-1
	top -10px
	right 0
.module-1-img-2
	top -13px
	left -180px
.module-info-1
	margin-top: 70px
	margin-left: 55px
	max-width 660px
	
.module-2-img-1
	top -65px
	left 0
.module-2-img-2
	top -110px
	right 0
.module-info-2
	float: right
	margin-right 170px
	max-width 490px

.module-3-img-1
	top 10px
	right 0
.module-3-img-2
	top -25px
	left -96px
.module-info-3
	margin-top: 60px
	margin-left: 135px
	max-width 500px

.module-4-img-1
	top 10px
	left 0
.module-4-img-2
	top -5px
	right -60px
.module-info-4
	margin-top: 70px
	float: right
	margin-right: 135px
	max-width 500px

.module-5-img-1
	top -25px
	right 0
.module-5-img-2
	top -50px
	left -145px
.module-info-5
	margin-top: 30px
	margin-left: 80px
	max-width 510px

.module-6-img-1
	top 5px
	left 0
.module-6-img-2
	top 5px
	right -235px
.module-info-6
	float: right
	margin-top: 60px
	max-width 630px

.module-7-img-1
	top -25px
	right 0
.module-7-img-2
	top -65px
	left -235px
.module-info-7
	margin-top: 45px
	max-width 717px

.module-8-img-1
	top -60px
	left 0
.module-8-img-2
	top -345px
	right -205px
.module-info-8
	float: right
	margin-top: 25px
	max-width 717px
	margin-bottom: -50px