#spheres
	padding 40px 0
	text-align: center
	.container
		position relative
.sphere-img
	position: absolute
	left -34px
	bottom: -39px
	z-index -1
	width 100%
	max-width 850px
.spheres
	box-shadow: 0px 4px 18.06px 2.94px rgba(2, 2, 2, 0.38);
	border-radius: 15px
	background-color #fff
.sphere
	padding 100px 20px 15px
	background-repeat no-repeat
	background-position: center top 20px
	&-1
		background-image url(../img/icons/sphere-icon-1.png)
	&-2
		background-image url(../img/icons/sphere-icon-2.png)
	&-3
		background-image url(../img/icons/sphere-icon-3.png)
	&-title
		font-size: 20px
		font-family: OSB
		margin-bottom: 10px