#authors
	overflow hidden
.general-title-authors
	width: 100%
	max-width 650px
	line-height: 45px
.author-2
	margin-top: 45px
.author-title
	margin 45px 0 80px
	font-size: 25px
	font-family: OSB

.author-img
	position relative
	img
		position: absolute
	&-1
		top -130px
		right 0
	&-2
		top: 0;
		left: -175px;
.author-links
	width 100%
	border-bottom: 1px solid #000
	margin-bottom: 60px
	li
		width 50%
		display: inline-block
		list-style none
		font-size: 18px
		font-family: OSB
		text-align: center
		padding-bottom: 4px
		transition: all .4s ease
		margin 0
		a
			color #193e62
			margin 0
			border-radius: 0
			line-height: 1.3
			padding 0
			background-color: transparent !important
			border: none !important
			&:focus
				outline: 0
				border: 0
			&:hover
				background-color: transparent !important
		&:hover
			a
				color #193e62
		&.active
			text-align: left 
			border-bottom: 4px solid #183c5f
			a
				color: #000
.tab-content
	margin-left: 20px
	position relative
	min-height 250px
.author-list
	li
		list-style none
		position relative
		margin-bottom: 30px
		padding-left: 30px
		&:before
			content: ''
			position: absolute
			top: -1px
			left 0
			border-radius: 50px
			width: 21px
			height 21px
			background-color: #183c5f
.button-more
	margin 50px 0
.author-history-text
	line-height: 19px
	margin-top: 15px
.author-history
	display: none