#revs
	padding 40px 0
.rev-link
	background-color #fff
	display block
	margin 0 auto
#text-revs
	.rev-img
		display block
		margin 0 auto
		height 200px
		object-fit: contain
		object-position: center
		width 100%
.owl-theme .owl-dots .owl-dot span
	width 21px
	height 21px
	background-color: #7FA9C4
	margin 5px 2px
	transition: all .4s ease
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span
	background-color: #003960
.owl-theme .owl-nav
	// margin-top: 0
	width 100%
	// position: absolute
.owl-theme .owl-nav [class*="owl-"]
	width 40px
	height 40px
	color #fff
	font-family: OSB
	font-size: 34px
	line-height: 24px
	background-color: #003960
	border-radius: 50px
	transition: all .4s ease
	position: absolute
	&:hover
		background-color: #7FA9C4
.owl-prev
	left 450px
	bottom: -10px
.owl-next
	right 450px
	bottom -10px