#last
	position relative
	padding 50px 0 140px
.last-img-0
	position: absolute
	left -120px
	top -190px
.general-title-last
	margin 50px 0 40px
	line-height: 45px
.button-last
	margin-left: 0
.last-images
	position relative
.last-img
	position: absolute
	top -40px
	width 750px
	right -30px