.module.module-4
	.module-images
		img.module-image.module-4-img-2(src="img/images/module-4-img-2.png", alt="Картинка модуля 4")
		img.module-image.module-image-pic.module-4-img-1(src="img/images/module-4-img-1.png", alt="Картинка модуля 4")
	.module-info.module-info-4
		h4.module-info-title Модуль 4. Анализ структуры мышления
		ul.module-info-list
			li - Программирование ума;
			li - Четверти и 16 лиц;
			li - Анализ структуры мышления;
			li - Программирование через Пенту и ВА;
			li - Механика страха;
			li - Циклы;
			li - Анализ бизнес-группы;
	.clearfix