.module.module-1
	.module-images
		img.module-image.module-1-img-2(src="img/images/module-1-img-2.png", alt="Картинка модуля 1")
		img.module-image.module-image-pic.module-1-img-1(src="img/images/module-1-img-1.png", alt="Картинка модуля 1")
	.module-info.module-info-1
		h4.module-info-title Модуль 1. Анализ структуры личности: Механика Человека
		ul.module-info-list
			li - Краткая история Механики Человека;
			li - Типы, транзиты, глобальные циклы;
			li - Линии и профили, правый и левый ум;
			li - Центры;
			li - Авторитеты, виды определённости, черное и красное;
			li - Травмы и реакции;
			li - Контуры, типы каналов;
			li - Ворота и каналы;
			li - Планеты, PHS;
			li - Ночной дизайн, инкарнационные кресты, лунные узлы;
	.clearfix