#records
	padding 50px 0
	background-color: #E6D6E7
	text-align: center
#recs
	width 100%
	max-width 650px
	margin 0 auto 60px
.recs-links
	width 100%
	max-width 90%
	margin 0 auto 20px
	border-bottom: 1px solid #000
	li
		width 33.3333%
		display: inline-block
		list-style none
		font-size: 18px
		font-family: OSB
		text-align: center
		padding-bottom: 4px
		transition: all .4s ease
		margin 0
		a
			color #193e62
			margin 0
			border-radius: 0
			line-height: 1.3
			padding 0
			background-color: transparent !important
			border: none !important
			&:focus
				outline: 0
				border: 0
			&:hover
				background-color: transparent !important
		&:hover
			a
				color #193e62
		&.active
			border-bottom: 4px solid #183c5f
			a
				color: #000
.tab-content-recs
	padding 20px
	background-color #fff
	border-radius: 15px
	box-shadow: 0 4px 10px 3px	rgba(2, 2, 2, .2);
	margin-left: 0!important
.day-title
	font-size: 20px
	font-family: CB
	margin-bottom: 10px
.day-text
	margin-top: 10px
	text-align: left 
#vk
#fb
	border-radius: 15px
	background-color #fff
	border-radius: 15px
	box-shadow: 0 4px 10px 3px	rgba(2, 2, 2, .2);
	overflow hidden