section#main
	.container
		include ../header
		p.pre Обучающий курс с выдачей диплома
		h1.main-title=head_title
		p.main-info Старт курса:
			span 20 ноября, в 19:00 мск
		p.main-info Авторы курса: 
			span Анна Ролева и Вероника Юрина
		+b('','#prices','_self','Записаться на курс')