.modal.fade(tabindex="-1" role="dialog")#modal-1
	.modal-dialog(role="document")
		.modal-content.mail-modal-content
			.modal-wrapper
				button(type="button" class="close" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true") &times;
				.modal-body
					h3.modal-title Модули этого пакета:
					ul.modals-list
						li Тема 1. Анализ структуры личности: Механика Человека
						li Тема 2. Анализ отношений
						li Тема 3. Модуль по работе с фигурой Тени
						li Тема 4. Анализ структуры мышления
.modal.fade(tabindex="-1" role="dialog")#modal-2
	.modal-dialog(role="document")
		.modal-content.mail-modal-content
			.modal-wrapper
				button(type="button" class="close" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true") &times;
				.modal-body
					h3.modal-title Модули этого пакета:
					ul.modals-list
						li Тема 1. Анализ структуры личности: Механика Человека
						li Тема 2. Анализ отношений
						li Тема 3. Модуль по работе с фигурой Тени
						li Тема 4. Анализ структуры мышления
						li Тема 5. Анализ структуры личности: Генные ключи
						li Тема 6: Трансперсональная психология
						li Тема 7: Психологическое консультирование: общий модуль работы
						li Тема 8: Монетизация частной практики: практический онлайн-маркетинг для психологов