section#for
	.container
		+gt('','Этот курс необходим Вам, если:')
		.row
			.col-md-6.col-sm-6
				ul.for-list
					li Вы стараетесь работать над собой и своей жизнью, но ничего не меняется и не получается
					li Кажется, что стандартные шаблонные советы и техники из тренингов не работают только у вас
					li Вы не понимаете и не принимаете себя 
					li Вас одолевают негативные мысли, эмоции и состояния
					li В жизни много борьбы и сопротивления, ничего не получается легко
					li Вы не знаете кто вы, в чем ваше предназначение. Вы пытались искать его, но не смогли узнать
					li Что-то не работает в отношениях или отношений нет
					li В жизни вы как будто ходите по кругу, повторяются одни и те же сценарии в работе и отношениях
					li Нет чувства реализованности, удовлетворения от карьеры и признания со стороны окружающих
					li Денег постоянно не хватает, достаются они с трудом, а работу свою вы не любите
			.col-md-6.col-sm-6
				.for-images
					img.for-image.for-image-2(src="../img/images/about-img-2.png", alt="Изображение блока 2")
					img.for-image.for-image-1(src="../img/images/about-img-1.png", alt="Изображение блока 1")
		h4.for-title Основные цели:
		.targets
			.row
				.col-md-6.col-sm-6
					.target.target-1
						p.target-text
							span Первая 
							| - полностью "перезагрузить" вашу жизнь с помощью нового инструмента самопознания и саморазвития - Трансперсональной аналитики
				.col-md-6.col-sm-6
					.target.target-2
						p.target-text
							span Вторая 
							| - получить новую специальность с дипломом гос. образца, подтверждающим вашу квалификацию, и начать активно работать по новой специальности, трансформируя жизни людей с помощью этого инновационного инструмента