section#plan
	.container
		+gt('','Содеожание программы')
		include modules/module-1
		include modules/module-2
		include modules/module-3
		include modules/module-4
		include modules/module-5
		include modules/module-6
		include modules/module-7
		include modules/module-8
		+b('','#prices','_self','Записаться на курс')