section#get
	.container
		+gt('','Что Вы получите в результате прохождения курса:')
		.get-items
			.row
				.col-md-4.col-sm-4
					.get-item.get-item-1
						p.get-item-text Полностью переосмыслите себя как личность и свой жизненный опыт
				.col-md-4.col-sm-4
					.get-item.get-item-2
						p.get-item-text Выйдите на путь социальной реализации, зарабатывая на любимом деле, простроив корректные отношения и раскрыв свое предназначение
				.col-md-4.col-sm-4
					.get-item.get-item-3
						p.get-item-text Станете мастером в трансперсональном анализе личности, основанном на системах дизайн человека и генные ключи
				.col-md-4.col-sm-4
					.get-item.get-item-4
						p.get-item-text Освоите общий психологический модуль работы и базовые психологические технологии, необходимые для работы с клиентами
				.col-md-4.col-sm-4
					.get-item.get-item-5
						p.get-item-text Получите диплом о профессиональной переподготовке по направлению Психология и сможете начать уверенно строить карьеру в этой сфере
				.col-md-4.col-sm-4
					.get-item.get-item-6
						p.get-item-text Новички смогут начать консультировать и зарабатывать от 50 тыс руб в мес онлайн
			.row
				.col-md-4.col-sm-4.col-md-offset-4.col-sm-offset-4
					.get-item.get-item-7
						p.get-item-text Опытные консультанты смогут масштабировать свою частную практику за счет новых инструментов трансперсонального анализа и монетизации, получив возможность зарабатывать от 150 тыс руб в месяц