-var price_1 = '60 000р.';
-var price_2 = '100 000р.';
-var price_3 = '130 000р.';

-var link_1 = 'https://shop.mastervision.su/?r=ordering/cart/as1&id=4108&clean=true&lg=ru';
-var link_2 = 'https://shop.mastervision.su/?r=ordering/cart/as1&id=4109&clean=true&lg=ru';
-var link_3 = 'https://shop.mastervision.su/?r=ordering/cart/as1&id=4110&clean=true&lg=ru';


section#prices
	.container
		+gt('','Стоимость обучения:')
		.packets
			.row
				.col-md-4.col-sm-4
					.packet
						.packet-head.packet-head-1
							h4.packet-head-title 
								small пакет
								| "Удостоверение"
						.packet-body
							ul.packet-body-list
								li 
									span.li-bold 93 академических часа (18 недель)
								li 
									span.li-bold 4 модуля, ответы на вопросы (раз в 2 недели)
									span.more-button(data-toggle="modal" data-target="#modal-1") подробнее
						.packet-footer
							p.cost Стоимость
								span=price_1
							+b('button-cost',link_1,'_blank','Выбрать')
				.col-md-4.col-sm-4
					.packet
						.packet-head.packet-head-2
							h4.packet-head-title 
								small пакет
								| "Базовый"
						.packet-body
							ul.packet-body-list
								li
									span.li-bold 258 академических часов (38 недель)
								li
									span.li-bold 8 модулей, ответы на вопросы (раз в 2 недели)
									span.more-button(data-toggle="modal" data-target="#modal-2") подробнее
								li 
									span.li-bold Групповая супервизия (2шт) 
									| по отработке материала в процессе обучения, отработка в парах или в мини-группах
						.packet-footer
							p.cost Стоимость
								span=price_2
							+b('button-cost',link_2,'_blank','Выбрать')
				.col-md-4.col-sm-4
					.packet
						.packet-head.packet-head-3
							h4.packet-head-title 
								small пакет
								| "VIP"
						.packet-body
							ul.packet-body-list
								li
									span.li-bold 258 академических часов (38 недель)
								li
									span.li-bold 8 модулей, ответы на вопросы (раз в 2 недели)
									span.more-button(data-toggle="modal" data-target="#modal-2") подробнее
								li
									span.li-bold Групповая супервизия (8шт) 
									| по отработке материала в процессе обучения, отработка в парах или в мини-группах
								li
									span.li-bold Индивидуальная супервизия (8 шт по 30 минут) 
									| для тех, кто не только хочет поучится, но проработать собственные запросы и проблемы
						.packet-footer
							p.cost Стоимость
								span=price_3
							+b('button-cost',link_3,'_blank','Выбрать')
		.footnotes
			p.footnotes-text * Удостоверение о повышении квалификации могут получить только участники, которые уже имеют диплом психолога. В рамках пакетов «Базовый и ВИП» выдаётся диплом о профессиональной переподготовке
			p.footnotes-text ** Супервизия - групповая работа по отработке материала в процессе обучения, отработка в парах или в мини-группах
			p.footnotes-text *** Индивидуальная супервизия подходит для тех, кто не только хочет поучиться, но и проработать собственные запросы и проблемы
		+gt('','Диплом, который вы получите после успешного окончания курса:')
		.row
			.col-md-2.col-sm-2.col-xs-2
				a.cert-link(href="../img/cert/cert-1.png" data-fancybox='cert')
					img.cert-img(src="../img/cert/cert-1.min.png", alt="Изображение диплома 1")
			.col-md-3.col-sm-3.col-xs-3
				a.cert-link(href="../img/cert/cert-2.png" data-fancybox='cert')
					img.cert-img(src="../img/cert/cert-2.min.png", alt="Изображение диплома 2")
			.col-md-3.col-sm-3.col-xs-3
				a.cert-link(href="../img/cert/cert-3.png" data-fancybox='cert')
					img.cert-img(src="../img/cert/cert-3.min.png", alt="Изображение диплома 3")
			.col-md-2.col-sm-2.col-xs-2
				a.cert-link(href="../img/cert/cert-4.png" data-fancybox='cert')
					img.cert-img(src="../img/cert/cert-4.min.png", alt="Изображение диплома 4")
			.col-md-2.col-sm-2.col-xs-2
				a.cert-link(href="../img/cert/cert-5.png" data-fancybox='cert')
					img.cert-img(src="../img/cert/cert-5.min.png", alt="Изображение диплома 5")