section#last
	img(src="../img/images/last-img-0.png", alt="Изображение  блока").last-img-0
	.container
		.row
			.col-md-5
				+gt('general-title-last', 'Регистрируйтесь на курс прямо сейчас и начинайте осваивать одну из самых востребованных профессий будущего!')
				+b('button-last','#prices','_self','Записаться на курс')
			.col-md-7
				.last-images
					img(src="../img/images/last-img.png", alt="Изображение блока").last-img