.general-title
.button
.day-title
.recs-links li
.main-title
.main-info span
.for-title
.target-text span
.module-info-title
.packet-head-title
.li-bold
.cost span
.author-title
.author-links li
.owl-theme .owl-nav [class*="owl-"]
footer h5
.modal-title
	font-weight: bold
.packet-head-title small
	font-weight: normal
.target
	min-height 206px
.packet-body
	min-height 361px