.button
.general-title
.main-title
.main-about-title
.about-item-title
.reason-title
.module-info-title
.sphere-title
.author-title
.author-links li
.owl-theme .owl-nav [class*="owl-"]
.politics_modal-content .modal-title
	font-weight: bold
.about-image-2
	left 70px